/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.25turn, #030419 65% , #182358);
    padding: 1rem;
    margin: 0; 
    text-align: center;
    
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; 
    text-decoration: none;
    text-align: center;
}

.navbar-brand img {
    width:5%;
    height: 5%;
    position: absolute;
    top: 0;
    margin-top: 0.5%;
}

.nav-link {
    font-size: 1.2rem;
    color: #fff; 
    text-decoration: none;
    margin-left: 1rem;
    text-align: center;
}

nav a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/*Einde Navbar*/

/*------------------------------------------------------------------------------------------------------------------------------*/

/* body */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: white;
    background: linear-gradient(-45deg, #0B0C2A, #202c68 );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

* {
    box-sizing: border-box;
  }
  
  
  /* Midden website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;}

  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: #0B0C2A;
    padding: 10px;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
/* Einde body */

/*------------------------------------------------------------------------------------------------------------------------------*/

/* Footer */
footer {
    background: linear-gradient(0.25turn, #182358 , #030419 35% );
    padding: 2rem 0;
    margin-top: 2rem;
    left:0px;
    bottom:0px;
    height:32%;
    width:100%;
    margin: 2;
    float: left;
    font-family: 'Roboto Slab', serif;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

/* Footer Text vak 1*/
.col-md-6{
    margin-left: 1rem;
}
/* Footer Text vak 2*/
.col-md-4
{
    margin-left: 0%;
}

/* Footer Text vak 3*/
.col-md-3{
    margin-right: 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    
}

/*Tekst footer*/
h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}

h6{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

/*Einde footer*/

/*------------------------------------------------------------------------------------------------------------------------------*/

/* Responsive Navbar */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-bottom: 1rem;
    }

    .nav-link {
        margin: 0;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 595px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 889px) {}

@media only screen and (min-width: 1200px) {}


  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

/*Einde Responsive Navbar*/