/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030419; /* Change the background color */   
    padding: 1rem;
    margin: 0; 
    text-align: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; /* Change the font color */
    text-decoration: none;
    text-align: center;
}

.navbar-brand img {
    width:5%;
    height: 5%;
    position: absolute;
    top: 0;
    margin-top: 0.5%;
}

.nav-link {
    font-size: 1.2rem;
    color: #fff; /* Change the font color */
    text-decoration: none;
    margin-left: 1rem;
    text-align: center;
}

a {
    color: #fff; /* Change the font color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Einde Navbar*/

/*------------------------------------------------------------------------------------------------------------------------------*/

/* body */

body {
    background-color: #0B0C2A;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.about {
    display: flex;
    margin-left: 1rem;
}

/* Einde body */

/*------------------------------------------------------------------------------------------------------------------------------*/

/* Footer */
footer {
    background-color: #030419;
    padding: 2rem 0;
    margin-top: 2rem;
    left:0px;
    bottom:0px;
    height:25%;
    width:100%;
    margin: 2;
    float: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

/* Footer Text vak 1*/
.col-md-6{
    margin-left: 1rem;
}
/* Footer Text vak 2*/
.col-md-4
{
    margin-left: 0%;
}

/* Footer Text vak 3*/
.col-md-3{
    margin-right: 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    
}

/*Tekst footer*/
h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff; /* Change the font color */
}

/*Einde footer*/

/*------------------------------------------------------------------------------------------------------------------------------*/

/* Responsive Navbar */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-bottom: 1rem;
    }

    .nav-link {
        margin: 0;
        margin-bottom: 1rem;
    }

}